<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="db_connectionString"
			connectionString="Server=K-3-13\SQLEXPRESS;Database=master;Integrated Security=True;TrustServerCertificate=True;"
			providerName="System.Data.SqlClient"
			/>
	</connectionStrings>
</configuration>